---
import PreactCounter from '../components/PreactCounter.jsx';
import ReactCounter from '../components/ReactCounter.jsx';
import SolidCounter from '../components/SolidCounter.jsx'
import SvelteCounter from '../components/SvelteCounter.svelte';
import VueCounter from '../components/VueCounter.vue';
import Title from '../components/Title.svelte'

let title = 'My Astro Site';

---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{title}</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/style/global.css">
  <link rel="stylesheet" href="/style/home.css">
  <style>
    header {
      display: flex;
      flex-direction: column;
      gap: 1em;
      max-width: min(100%, 68ch);
    }
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1rem;
      margin-block-start: 1rem;
    }
    .container > li {
      list-style: none;
    }
  </style>
</head>
<body>
  <main>
    <header>
      <div>
        <img width="60" height="80" src="/assets/logo.svg" alt="Astro logo">
        <h1>Welcome to <a href="https://astro.build/">Astro</a></h1>
      </div>
    </header>
    <ul class="container">
      <li>
        <Title title='React' color='blue' />
        <ReactCounter client:visible />
      </li>
      <li>
        <Title title='Preact' color='blue' />
        <PreactCounter client:visible />
      </li>
      <li>
        <Title title='Solid' color='lightblue' />
        <SolidCounter client:visible />
      </li>
      <li>
        <Title title='Svelte' color='orange' />
        <SvelteCounter client:visible />
      </li>
      <li>
        <Title title='Vue' color='green' />
        <VueCounter client:visible />
      </li>
    </ul>
  </main>
</body>
</html>
